/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bayon&family=Roboto:wght@100;300;400;500;700;900&display=swap');

button{
  width: 100%;
}
.menu-variant button{
  background: rgba(255, 255, 255, 0.3);
}
.menu-variant button:hover{
  background: rgba(255, 255, 255, 0.4);
}
.custom-shadow{
  border: 2px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.custom-shadow-card{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}
